@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.fields {
    padding-top: 300px;
    padding-left: 40px;
    font-weight: 700;
    width: 30vw;
    border-right: 1px solid black;
    background-color: aquamarine;
}

.history {
    width: 70vw;
    padding: 2em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: scroll;
}

.btn {
    margin-top: 1em;
    padding: 10px;
    width: 100px;

}
#author{
    margin-left: 16px;
    height: 30px;

}
#message{
    margin-top: 10px;
    height: 30px;
}